body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

menu {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

menu li {
    margin-right: 20px;
}

menu li:last-child {
    margin-right: 0;
}

menu li a {
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

menu li a:hover {
    background-color: #f4f4f4;
}

ul {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.section
{
    text-align: center;
}
